.menu_bar{
  background: linear-gradient(135deg, #8f807a, #b1a49d);
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 6px 20px rgba(0,0,0,0.15);
  padding-top: 40px;
  position: relative;
}
.menu-items{
  text-align: center;

}
.menu_bar a {
  text-decoration: none;
  color: #4d4747;
  padding: 17px;
  font-size: 18px;
  font-style: italic;
}
.menu_bar a:hover {
  text-decoration: underline;

}
.menu_bar a.active {
  text-decoration: underline;
  font-weight: bold;
}
